{% extends "log_reg_temp.html" %}
{% block title %}GitGudHub-{{session['user']}}{% endblock %}
<head>
  <meta charset="utf-8">
  <title>{{session['reloads']}}</title>
</head>
{% block form %}
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
         <p class="flash_msg cen"><b>{{msg}}</b></p>
        {% endfor %}
    {% endif %}
{% endwith %}
  <br><br><br>
  <div class="drawing_box white">
      {% with repos = session['repos'] %}
        {% if repos %}
    <div class="small-button-man">
        <button id="invite-user"><span class="fa fa-user-plus"></span> Add User</button>
    </div>
    <div class="popup" id="add-user-popup">
        <h2>
            Invite user
        </h2>
        <div>
            <form autocomplete="off" action="" id="add_user_form" style="margin: 0 auto;">
            <div class="autocomplete" style="position: relative;">
                <input id="add_user_input" type="text" name="user_to_add" placeholder="Username">
              </div><br><br>
              <input class="form-button confirm-commit" id="confirm-add" type="submit" style="float: left;" value="Confirm"/>
              <button type="button" class="form-button close-button" id="close-add" style="float: right;" value="Close">Close</button>
            </form>
        </div>
     </div>
    {% endif %}
  {% endwith %}
    <script src="{{url_for('static', filename='jquery-1.11.0.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='users.js')}}"></script>

    <script>
        autocomplete(document.getElementById("add_user_input"), users);
        $("#invite-user").click(function(e) {
            $("#invite-use").prop("disabled", true);
            $("#add-user-popup").fadeIn()
        });
        $("#close-add").click(function(e) {
            $("invite-user").prop("disabled", true);
            $("#add-user-popup").fadeOut()
        });

    </script>
      <form name="commit_select" method="POST" action="">
      <input type='hidden' name="to_highlight" id='commit_number'/>
      <img class="lisa landscape" src="{{url_for('static', filename='lisa.png')}}"/>
      {% with path = session['path'] %}
        <a name="graph"></a>
        <div id="graph" class="overflow-man">
            <img src="/static/{{path}}" usemap="#map"/>
        </div>
        <map name="map"><br>
        {% with areas = session['areas'] %}
            {% with size = session['image_size'] %}
                {% for commit, branch, index in areas %}
                      <area shape="rect" id="commit_{{commit}}" href="#" coords="0,{{index * 80 + 15}},{{size}},{{index * 80 + 60}}"/>
                {% endfor %}
            {% endwith %}
        {% endwith %}
        </map>
      {% endwith %}
      </form>
  </div>
    <div class="right-man">
      <div class="select">
        <form method="POST" action="">
            {% with repos = session['repos'] %}
                {% if repos %}
                    <label for="repos">Choose a repo > </label>
                    <select name="repos" id="repos">
                        <option value=""> </option>
                        {% for id, name in repos %}
                            <option value="{{id}}">{{name}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Render</button>
                    {% else %}
                        <p class="white"> you have no repos <p>
                {% endif %}
            {% endwith %}
        </form>
      </div>
      <div class="commit-information-side white" style="top: 5px;">
          {% with s = session %}
            <h2>{{s['current_commit_name']}}</h2>
            <p>{{s['current_commit_desc']}}</p>
            <hr>
          <button type="button" id="show-changes" class="collapsible commit-information-side" style="text-align: center;right:0;">Show Changes</button>
          <div class="content" id="all-changes" style="color:#fff; background-color:#23272a;">
              <div>
                {% if s['current_commit_manifest'] and s['to_highlight'] != 0 %}
                <h3>Changes</h3><div style="text-align: left;">
                {% for change in s['current_commit_manifest'] %}
                    {% if change['action'] == "created" %}<br>
                        <span>--Created </span><span class="green">{{change['rest']}}</span>
                    {% endif %}
                    {% if change['action'] == "updated" %}
                        <span>-Updated </span><span class="yellow">{{change['rest']}}</span>
                    {% endif %}
                    {% if change['action'] == "deleted" %}
                        <span>-Deleted </span><span class="red">{{change['rest']}}</span>
                    {% endif %}
                    {% if change['action'] == "added" %}
                        <span>-Added </span><span class="green">{{change['rest']}}</span>
                    {% endif %}
                    <br>
                {% endfor %}
                </div>
                {% else %}
                  <p>No changes file available.</p>
                {% endif %}
              </div>
          {% endwith %}
          </div>
          <br>
          <script src="{{url_for('static', filename='jquery-1.11.0.min.js')}}"></script><br>
          <button type="button" id="botan-man" class="collapsible commit-information-side" style="text-align: center;right:0;">Show Files</button>
          <div class="content" id="all-files" style="color:#fff; background-color:#23272a;">
              <div>
               {% with data = session['current_commit_files'] %}{% if data != 0 %}
              {% if data %}
              <a href="/static/current_files/{{session['to_highlight']}}.zip" style="color: #ccc" download>Download entire commit</a>
              {% else %}
                  <p>Current commit is unavailable.</p>
              {% endif %}
                  {% for path in data %}
                  <p style="text-align: left">
                  {{path}}
                  <span class="fa-cloud-download"></span>
                  <a href="/static/current_files/{{session['user']}}/{{path}}" style="color: #ccc" download>Download</a>
                  </p>
               {% endfor%} {% endif %}{% endwith %}
              </div>
          </div>
      </div>
      <div id="actions">
          <button class="action_button" id="commit_b" style="margin-top:0%;" ><b>Commit</b><br>(Will fork from this commit <br>if it's not the head of the branch)</button>
          <button class="action_button" id="fork_b" style="margin-top:7%;" ><b>Fork</b><br>Make a copy of this commit,<br>opening a new branch</button>
          <script>
          $(document).ready(function(){

            {% with s = session["to_highlight"] %}
                {% if s != 0 %}
                    $("#commit_b").click(function(e) {
                         $("commit_b").prop("disabled", true);
                         $("#commit-popup").fadeIn();
                    });
                    $("#fork_b").click(function(e) {
                         $("fork_b").prop("disabled", true);
                         $("#fork-popup").fadeIn();
                    });
                {% endif %}
             {% endwith %}

             $("#confirm-commit").click(function(e) {
                $("commit_b").prop("disabled", true);
                $("#commit-popup").fadeOut();
               document.getElementById('prev_commit_man').value = {{session['to_highlight']}};
               document.commit_select.submit()
            });
             $("#close-button").click(function(e) {
                $("commit_b").prop("disabled", true);
                $("#commit-popup").fadeOut()
            });
             $("#close-button").click(function(e) {
                $("commit_b").prop("disabled", true);
                $("#fork-popup").fadeOut()
            });

             $("#confirm-fork").click(function(e) {
                $("fork_b").prop("disabled", true);
                $("#fork-popup").fadeOut();
               document.getElementById('prev_fork_man').value = {{session['to_highlight']}};
               document.fork_select.submit()
            });
             $("#close-button-fork").click(function(e) {
                $("fork_b").prop("disabled", true);
                $("#fork-popup").fadeOut()
            });
             $("#close-button-fork").click(function(e) {
                $("commit_b").prop("disabled", true);
                $("#fork-popup").fadeOut()
            });



          });
          </script>
      </div>
    </div>
     <div class="popup" id="commit-popup">
        <h2>
            Commiting from: {{session['current_commit_name']}}<br>
            {{session['current_commit_desc']}}
        </h2>
        <div>
            <form id="commit_info" method="POST" action="" enctype = "multipart/form-data">
              <label for="commit_name">Commit name</label><br>
              <input type="text" id="commit_name" name="name" maxlength="25" required><br><br>
              <label for="commit_comment">Description</label><br>
              <input type="text" id="commit_comment" name="comment" maxlength="100"><br><br>
              <input class="form-button confirm-commit" id="confirm-commit" type="submit" style="float: left;" value="Confirm"/>
              <button class="form-button close-button" id="close-button" style="float: right;" value="Close" type="button">Close</button>
              <input type='hidden' name="commit_man" id='prev_commit_man'/>
              <label for="file-selector-commit">Select</label>
<!--                 multiple webkitdirectory directory-->
              <input type="file" name="file" id="file-selector-commit" hidden multiple required accept=".zip,.rar,.7zip"/>
            </form>
        </div>
     </div>
    <div class="popup" id="fork-popup">
        <h2>
            Forking from: {{session['current_commit_name']}}<br>
            {{session['current_commit_desc']}}
        </h2>
        <div>
            <form id="fork_info" method="POST" action="" enctype = "multipart/form-data">
              <input class="form-button confirm-fork" id="confirm-fork" type="submit" style="float: left;" value="Confirm"/>
              <button class="form-button close-button" id="close-button-fork" style="float: right;" value="Close">Close</button>
              <input type='hidden' name="fork_man" id='prev_fork_man'/>


            </form>
        </div>
     </div>

</body>
    <script language="javascript" type="text/javascript">
    function send_that_damn_value(value) {
        document.getElementById('commit_number').value = value;
        document.commit_select.submit();
    }
        {% with areas = session['areas'] %}
            {% with size = session['image_size'] %}
                {% for commit, branch, index in areas %}
                    document.getElementById ("commit_{{commit}}").addEventListener ("click", function() {send_that_damn_value({{commit}})}, false);
                {% endfor %}
            {% endwith %}
        {% endwith %}
      (function() {
    function scroll(e) {
        e = window.event || e;
        var delta = Math.max(-1, Math.min(1, (e.wheelDelta || -e.detail)));
        document.getElementById('graph').scrollTop -= (delta * 40); // Multiplied by 40
        e.preventDefault();
    }
    if (document.getElementById('graph').addEventListener) {
        // IE9, Chrome, Safari, Opera
        document.getElementById('graph').addEventListener('mousewheel', scroll, false);
        // Firefox
        document.getElementById('graph').addEventListener('DOMMouseScroll', scroll, false);
    } else {
        // IE 6/7/8
        document.getElementById('graph').attachEvent('onmousewheel', scroll);
    }
})();
</script>
<script>
            var files_ctn = document.getElementById("all-files");
            var files_btn = document.getElementById("botan-man");
            var change_ctn = document.getElementById("all-changes");
            var change_btn = document.getElementById("show-changes");

            files_btn.addEventListener("click", function() {
                if (files_ctn.style.display === "block") {
                  files_ctn.style.display = "none";
                  files_btn.innerText = "Show Files";
                } else {
                  files_ctn.style.display = "block";
                  files_btn.innerText = "Hide Files";
                }
            });

            change_btn.addEventListener("click", function() {
                if (change_ctn.style.display === "block") {
                  change_ctn.style.display = "none";
                  change_btn.innerText = "Show Changes";
                } else {
                  change_ctn.style.display = "block";
                  change_btn.innerText = "Hide Changes";
                }
            });

</script>
{% endblock %}
